<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>X-ReadingList</title>
    <script src="javascripts/jquery-2.1.3.min.js"></script>
    <script src="javascripts/angular.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="javascripts/xReadingList.min.js"></script>
    <script src="javascripts/ng-infinite-scroll.min.js"></script>
    <script src="javascripts/xreadinglist-namelist-factory.min.js"></script>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<header>
    <h1 class="heading">X-ReadingList</h1>
    <h2>A tool to help sort through decades of comics about the X-Men.</h2>
    <p>
        Data provided by
        <a href="http://www.marvel.com"> Marvel</a>
        . © 2014 Marvel
    </p>
    <p>
        Credit for the issue information belongs to the
        <a href="http://www.comics.org/">Grand Comics Database</a>
        and is used according to the
        <a href="http://creativecommons.org/licenses/by/3.0/"> Creative Commons Attribution 3.0 Unported license</a>
    </p>
</header>
<body ng-app="xReadingList"  ng-controller="QueryController as queryCtrl">
    <div id="query" class="wide list" ng-show="queryCtrl.showQuery">
        <form class="wide">
            <h1 class="heading">Search for issues:</h1>
            <div class="wide list" ng-repeat="list in queryCtrl.lists">
                <div class="list-contents">
                    <a type="button" class="btn btn-default btn-block btn-lg selecting" data-toggle="button"
                       ng-click="list.setSelecting()">
                        {{list.title}}
                    </a>
                    <div class="selection-summary light-text" ng-hide="list.selecting || list.getDescription().length < 1"
                        <p ng-repeat="line in list.getDescription()">{{line}}</p>
                    </div>

                    <div class="wide" ng-show="list.selecting">
                        <div class="search">
                            <label class="search-label">Search: </label>
                            <input class="dark-text" type="text" ng-model="list.searchText"
                                   ng-change="list.updateDisplayList()">
                            <button class="dark-text btn btn-default" ng-click="list.clearSelections()">Clear Selections</button>
                        </div>
                        <table class="col-xs-12">
                            <thead class="selection-heading dark-text">
                                <th></th>
                                <th ng-show="list.hasAllColumn">All Of</td>
                                <th>Any Of</td>
                                <th>Excluding</td>
                            </thead>
                            <tbody infinite-scroll="list.increaseLimit()">
                                <tr ng-repeat="name in list.displayList"
                                    ng-class-odd="'light-row'">
                                    <td class="col-xs-9 name-entry">{{name}}</td>
                                    <td class="col-xs-1" ng-show="list.hasAllColumn">
                                        <button type="button"
                                                class="btn selection-button"
                                                ng-class="list.allOf.indexOf(name) >= 0 ?
                                                    'glyphicon glyphicon-ok' : 'btn-default'"
                                                ng-click="list.toggleList('All', name)">
                                        </button>
                                    </td>
                                    <td class="col-xs-1">
                                        <button type="button"
                                                class="btn selection-button"
                                                ng-class="list.anyOf.indexOf(name) >= 0 ?
                                                    'glyphicon glyphicon-ok' : 'btn-default'"
                                                ng-click="list.toggleList('Any', name)">
                                        </button>
                                    </td>
                                    <td class="col-xs-1">
                                        <button type="button"
                                                class="btn selection-button"
                                                ng-class="list.excluded.indexOf(name) >= 0 ? 'glyphicon glyphicon-remove' : 'btn-default'"
                                                ng-click="list.toggleList('Exclude', name)">
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div id="date">
                <div class="selection-summary">
                    <label>From: </label>
                    <input class="darkText" type="number" min="1963" max="2015" ng-model="queryCtrl.startYear">
                    <label>To: </label>
                    <input class="darkText" type="number" min="1963" max="2015" ng-model="queryCtrl.endYear">
                </div>
            </div>

            <button  type="button" class="btn btn-primary btn-block btn-lg" ng-click="queryCtrl.query()">Search</button>
        </form>
    </div>

    <div id="results-list" ng-hide="queryCtrl.showQuery">
        <h1 class="heading">Found: {{queryCtrl.issues}}</h1>
        <div class="comic" ng-repeat="comic in queryCtrl.collection.comics | orderBy:'name'">
            <p class="series-heading">{{comic.name}}</p>
            <div ng-repeat="volume in comic.volumes | orderBy:'name'">
                <div class="result-series">
                    <label ng-show="volume.name">{{volume.name}}</label>
                    <button type="button" class="btn btn-info btn-lg sequence-btn" data-toggle="button"
                            ng-show="volume.issues.length > 1"
                            ng-click="volume.expand = !volume.expand">{{volume.issues | sequence}}</button>
                </div>
                <div ng-show="volume.expand || volume.issues.length === 1" ng-controller="DetailsController as detailsCtrl">
                    <div class="covers">
                        <button class="btn btn-default cover-button"
                                ng-repeat="issue in volume.issues"
                                ng-click="detailsCtrl.getDetails(issue, volume.name)"
                                ng-style="{ 'background-image' : 'url(' + issue.coverRoot + '/portrait_medium.' + issue.extension + ')' }">
                            {{issue.number}}
                        </button>
                    </div>
                    <div id="{{volume.name}}-details" class="issue" ng-show="detailsCtrl.showDetails">
                        <img class="issue-cover"
                             ng-src="{{ detailsCtrl.coverRoot + '/portrait_uncanny.' + detailsCtrl.extension }}"
                             alt="">
                        <div class="info">
                            <h3>{{detailsCtrl.issue.number}}</h3>
                            <p>{{detailsCtrl.issue.titles.join(", ")}}</p>
                            <p>{{detailsCtrl.issue.month}}, {{detailsCtrl.issue.year}}</p>
                        </div>
                        <div class="credits">
                            <p>Script: {{detailsCtrl.issue.script.length === 0 ? 'Not available' :
                                detailsCtrl.issue.script.join(", ")}}</p>
                            <p>Pencils: {{detailsCtrl.issue.pencils.length === 0 ? 'Not available' :
                                detailsCtrl.issue.pencils.join(", ")}}</p>
                            <p>Inks: {{detailsCtrl.issue.inks.length === 0 ? 'Not available' :
                                detailsCtrl.issue.inks.join(", ")}}</p>
                            <p>Colours: {{detailsCtrl.issue.colours.length === 0 ? 'Not available' :
                                detailsCtrl.issue.colours.join(", ")}}</p>
                        </div>
                        <div class="synopsis">
                            <p ng-repeat="line in detailsCtrl.issue.synopsis">
                                {{line === "" ? 'No synopsis available' : line}}
                            </p>
                            <p>Characters: {{detailsCtrl.issue.characters.length === 0 ? 'Not available' :
                                detailsCtrl.issue.characters.join(", ")}}</p>
                            <span ng-repeat="url in detailsCtrl.urls">
                                <a class="reader-link" href="{{url.url}}" target="blank">{{url.type}}</a></br>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-block btn-lg" ng-click="queryCtrl.hideResults()">New Search</button>
    </div>
    <script src="javascripts/xreadinglist-collection-factory.min.js"></script>
    <script src="javascripts/xreadinglist-sequence-filter.min.js"></script>
    <script src="javascripts/xreadinglist-marvel-service.min.js"></script>
    <script src="javascripts/xreadinglist-details-controller.min.js"></script>
</body>
</html>