a {
    color: #385c58;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    max-width: 100%;
    background-color: #385c58;
}

.row {
    margin: 0;
}

header {
    background-color: #01a686;
    color: white;
    font-size: 18px;
    line-height: 1.33;
    padding: 10px 16px;
}

.comic {
    background-color: lightgray;
}

.cover-button {
    color: #f5f5f5;
    width: 100px;
    height: 150px;
    white-space: normal;
}

.covers {
    padding-bottom: 2%;
}

.credits, .info, .synopsis {
    padding: 2%;
}

.credits {
    background-color: #5e5e5e;
    color: #f5f5f5;
}

.dark-row {
    background-color: #606060;
}

.dark-text {
    color: #222222;
}

.fixed {
    position: fixed;
    top: 0;
    border: 5px solid black;
    z-index: 1;
}

.fixed-title, .response, .selecting,  {
    width: 100%;
}

.names {
    padding: 0.75em;
    font-size: 125%;
}

.found-heading {
    background-color: #6F8693;
}

.heading, .notice {
    font-weight: bold;
}

.info {
    background-color: #222222;
    color: #f5f5f5;
}

.issue {
    border: 2px solid black;
}

.issue-cover {
    margin-top: 2%;
    margin-bottom: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid white;
}

.light-text {
    color: #f5f5f5;
}

.light-row {
    background-color: #A0A0A0;
}

.list {
    background-color: #b8d7ab;
}

.notice {
    padding-left: 2%;
    font-size: 175%;
}

.reader-link {
    color: red;
    font-weight: bold;
}

.response {
    background-color: #6F8693;
}

.result-series {
    padding: 2%;
}

.search {
    padding: 0.5em;
    background-color: #01a686;
    color: #f5f5f5;
}

.selecting {
    background-color: #6F8693;
}

.selection-button {
    min-width: 40px;
    min-height: 40px;
    margin: 5px;
}

#date {
    background-color: #5e5e5e;
}

.selection-summary {
    padding: 1%;
    background-color: #383838;
}

.sequence-btn {
    white-space: normal;
}

.series {
    border: 1px solid black;
}

.series-heading {
    background-color: #A0A0A0;
    padding: 2%;
    font-weight: bold;
    font-size: 150%;
}

.synopsis {
    background-color: #f5f5f5;
    color: #0f0f0f;
}