a {
    color: lightblue;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
    background-color: #337ab7;
    color: #f5f5f5;
    font-size: 18px;
    line-height: 1.33;
    padding: 10px 16px;
}

table {
    background-color: lightgray;
    display: block;
    font-size: 125%;
    table-layout: fixed;
}

th, td {
    text-align: left;
}

.comic {
    background-color: lightgray;
    padding: 75px;
}

.cover-button {
    color: #f5f5f5;
    width: 100px;
    height: 150px;
}

.credits {
    padding: 10px;
    background-color: #5e5e5e;
    color: #f5f5f5;
}

.dark-row {
    background-color: #606060;
}

.dark-text {
    color: #222222;
}

.fixed {
    position: fixed;
    top: 0;
}

.fixed-title, .response, .selecting,  {
    width: 100%;
}

.found-heading {
    background-color: slategray;
    padding: 10px;
}

.full-button {
    min-width: 100%;
    min-height: 100%;
    vertical-align: top;
}

.heading {
    font-weight: bold;
}

.info {
    padding: 10px;
    background-color: #222222;
    color: #f5f5f5;
}

.issue {
    border: 2px solid black;
}

.issue-cover {
    margin-top: 25px;
    margin-bottom: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid white;
}

.light-text {
    color: #f5f5f5;
}

.light-row {
    background-color: #A0A0A0;
}

.list {
    background-color: slategray;
    padding-top: 5px;
    padding-bottom: 25px;
    min-width: 100%;
}

.list-contents {
    padding: 25px;
}

.reader-link {
    color: red;
    font-weight: bold;
}

.response {
    background-color: slategray;
}

.result-series {
    padding: 25px;
}

.search {
    padding-top: 30px;
    padding-bottom: 50px;
    height: 50px;
    background-color: #23527c;
    color: #f5f5f5;
}

.search-row, .name-entry, .heading {
    padding-left: 10px;
}

.selecting {
    font-size: 125%;
    background-color: slategray;
}

.selection-button {
    min-width: 50px;
    min-height: 50px;
}

.selection-heading {
    border-bottom: 15px;
    border-top: 15px;
}

.selection-summary {
    padding: 10px;
    background-color: #5e5e5e;
}

.sequence-btn {
    white-space: normal;
}

.series {
    border: 1px solid black;
}

.series-heading {
    background-color: #A0A0A0;
    padding: 10px;
    font-weight: bold;
    font-size: 150%;
}

.synopsis {
    background-color: #f5f5f5;
    color: #0f0f0f;
    padding: 10px;
}

.wide {
    width: inherit;
}